@model IEnumerable<ImprovedWorkCenter.Models.Actividad>

@{
    ViewData["Title"] = "Index";
}

<div class="description">
    <h1>Actividades</h1>
    <p>
        <a class="btn-primary btn-custom" asp-action="Create">Agregar Actividad</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioFinal)
            </td>
            <td>
                <a class="btn-secondary btn-custom" asp-action="Edit" asp-route-id="@item.ActividadId">Editar</a>
                <a class="btn-info btn-custom" asp-action="Details" asp-route-id="@item.ActividadId">Detalles</a>
                <a class="btn-danger btn-custom" asp-action="Delete" asp-route-id="@item.ActividadId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
