@model IEnumerable<ImprovedWorkCenter.Models.Socio>

@{
    ViewData["Title"] = "Index";
}

<div class="description">
    <h1>Socios</h1>
    <p>
        <a class="btn-primary btn-custom" asp-action="Create">Agregar Socio</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsDeudor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoDePago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsDeudor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetodoDePago)
            </td>
            <td class="d-flex flex-row">
                <a class="btn-secondary btn-custom" asp-action="Edit" asp-route-id="@item.SocioId">Editar</a>
                <a class="btn-info btn-custom" asp-action="Details" asp-route-id="@item.SocioId">Detalles</a>
                <a class="btn-danger btn-custom" asp-action="Delete" asp-route-id="@item.SocioId">Eliminar</a>
                <a class="btn-warning btn-custom" asp-action="CalificarDeudor" asp-route-id="@item.SocioId">Calificar</a>
            </td>
        </tr>
}
    </tbody>
</table>
