@model ImprovedWorkCenter.Models.Plan

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Plan</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreSocio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreSocio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPlan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>
