@model IEnumerable<ImprovedWorkCenter.Models.Plan>

@{
    ViewData["Title"] = "Index";
}

<div class="description">
    <h1>Planes</h1>
    <p>
        <a class="btn-primary btn-custom" asp-action="Create">Agregar Plan</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreSocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPlan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="text-align: start">
                @Html.DisplayFor(modelItem => item.NombreSocio)
            </td>
            <td style="text-align: start">
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td style="text-align: start">
                @Html.DisplayFor(modelItem => item.TipoPlan)
            </td>
            <td>
                <a class="btn-secondary btn-custom" asp-action="Edit" asp-route-id="@item.PlanId">Editar</a>
                <a class="btn-info btn-custom" asp-action="Details" asp-route-id="@item.PlanId">Detalles</a>
                <a class="btn-danger btn-custom" asp-action="Delete" asp-route-id="@item.PlanId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
